# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.mexw64
slprj/
work/
*.c
*.h
*.crf
*.s
*.icf
General/FIRM/Generic1/.mxproject
General/FIRM/Generic1/.extSettings
General/FIRM/Generic1/.script
*.dbgconf
*.Link
*.uvoptx
*.uvprojx
*.axf
*.htm
*.lnp
*.sct
*.dep
*.lst
stm32_external_mode_stm32/
*.extSettings
*.getVersionScript
*.script
*.mxproject
